body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:500px;
    background-color: #F5F5F5;
}
.color-container {
    width:180px;
    height:300px;
    margin:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.color-container>div {
    width:167px;
    height:287px;
    margin: 4px;
    position: relative;
}
.color-container:first-child>div {
    background-color: tomato;
}
.color-container:nth-child(2)>div {
    background-color: teal;
}
.color-container:nth-child(3)>div {
    background-color: burlywood;
}
.color-container:last-child>div {
    background-color: thistle;
}
.color-label {
    background-color: white;
    width:167px;
    height: 100px;
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;
}
span{
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 5px;
}
span:last-child{
    font-size: 12px;
}
