body {
    background-color: #6BBCBE; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.container {
    width:300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@keyframes circleAni {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}
.circle-container {
    width: 130px;
    display: flex;
    justify-content: space-between;
    animation: circleAni 1s linear infinite;
}
.rectangle-container {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
@keyframes rectangleAni {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2);
    }
    50% {
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(1);
    }
}
.rectangle {
    width: 20px;
    height: 80px;
    background-color: white;
    animation: rectangleAni 1S linear infinite;
}
.rectangle:nth-child(1) {
    animation-delay: 0.1s;
}
.rectangle:nth-child(2) {
    animation-delay: 0.1s;
}
.rectangle:nth-child(3) {
    animation-delay: 0.2s;
}
.rectangle:nth-child(4) {
    animation-delay: 0.3s;
}
.rectangle:nth-child(5) {
    animation-delay: 0.4s;
}

