.greeting__container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#greeting>span:first-child {
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
}
#logout-btn>input {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}